.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  @media (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  width: 100vw;
  min-height: 100vh;
  padding-top: 48px;
  padding-right: auto;
  padding-bottom: 48px;
  padding-left: 40px;
  background-color: var(--secondary-text-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
 }

.mobile-menu {
  margin-bottom: auto;
  list-style: none;
  cursor: pointer;
  }

.mobile-menu .link {
  display: block;
  color: var(--title-text-color);
  text-decoration: none;
}

.mobile-menu .link.current {
  color: var(--accent-color);
}

.menu-item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.mobile-nav.link {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  color: #212121;
}
.mobile-contacts {
    margin-bottom: 64px;
    cursor: pointer;
}
.mobile-phone {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  margin-bottom: 32px;
}
.mobile-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 20px;
}
.mobile-socials-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  cursor: pointer;
}
