
.about-team {
    background: #f5f4fa;
}
.team-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team-member {
    text-align: center;
    background-color: var(--secondary-text-color);
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.member-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.member-name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
}

.position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    gap: 10px;
}

.socials-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afb1b8;
    background-color: #fff;
    border-radius: 50%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
                background-color: var(--accent-color);
                color: #fff;
            }
}

.socials-icon {
    fill: currentColor;
}